@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;600&display=swap');      

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/*------------HEADER-----------*/

.logo-header {
    animation: ease-in animation 1s;
}

@keyframes animation {
    0%   {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.nav-link{
    font-size: 1.5rem;
}

.navbar-brand{
    background-color:  #d9c9ba;
}

header{
    background-color: #d9c9ba;
}

.encabezado{
    display: flex;
    justify-content:center ;
    flex-direction: row;
    align-items: center;
}

.menu nav ul{
    display: flex;
    justify-content: space-evenly;
}

header img{
    width: 350px;
    height: 150px;
}

header nav{
    text-align: center;

}

header nav ul li{
    background-color: #d9c9ba;
    font-family: 'Cormorant Garamond', serif;;
    font-size: 20px;
    padding: 20px;
    margin: 0px 10px 0px 10px;
    display: inline-block;
}

header nav ul li a{
    text-decoration: none;
    color: #312727;
    font-weight: bold;
}







/*-----------MAIN-----------*/
.hero{
    width: 100%;
    height: 100vh;
    color: white;
    background-image: url("../img/hero3.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagenes-hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 10px 10px 10px
}

.img-main img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
}

.img-main{
    transition: 0.3s ease all;
}

.img-main:hover{
    transform: scale(1.1);
}

.hero p{
    font-size: 50px;
}

.hero h3{
    background-color: rgba(0, 0, 0, 0.452);
    background-size: cover;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}



.backgroundFormulario{
    background-color: #b99f86;
    border: solid rgb(214, 169, 77);
    font-family: 'Cormorant Garamond', serif;
    color: black;
    font-size: 20px;
}

.titu-form{
    font-size: 40px;
    text-align: left;
}

.backgroundFormulario h1{
    text-align: center;
    font-size: 60px;
}


.galeria{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.imgRubros img{
    width: 300px;
    height: 300px;
}

.imgRubros{
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;

}

h2{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #c7c192;
    font-family: 'Cormorant Garamond', serif;
}

.serviciosEspeciales{
    display: flex;
    justify-content: space-around;
    margin: 20px 20px 20px 20px;

}


.serviciosEspeciales img{
    width: 300px;
    height: 300px;
}
.serviciosEspeciales h2{
    text-align: center;
    background-color: #b8b38a;
    font-family: 'Cormorant Garamond', serif;
}

.biografia{
    width: 100%;
    height: 80vh;
    background-color: #b99f86;
}

.biografia p{
    font-size: 40px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}

.biografia h3{
    background-size: cover;
    text-align: center;
    font-size: 80px;
    padding: 10px;
    font-family: 'Cormorant Garamond', serif;
}


/*-------FOOTER-------*/
.pie{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
}

.pie .mapa{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.pie .logos{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.logos img{
    width: 50px;
    height: 50px;
}

footer div iframe{
    margin: 40px 40px 40px 40px;
}

footer{
    border-top: solid #312727;
    background-color: #d9c9ba;
}



/*----MEDIAS QUERYS----*/

@media screen and (max-width: 985px){

    .imagenes-hero{
        flex-direction: column;
        align-items: center;
    }
    
    .hero p{
        font-size: 30px;
    }

    .imgRubros{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
    }
    .imgRubros img{
        width: 100%;
        height: 100%;
    }

    .serviciosEspeciales{
        flex-direction: column;
        align-items: center;
    }

    .serviciosEspeciales img{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 875px){
    .biografia p{
        font-size: 30px;
    }
    .biografia h3{
        font-size: 50px;
    }

}


@media screen and (max-width: 530px){
    .pie{
        flex-direction: column;
        align-items: center;
    }
    .biografia p{
        font-size: 25px;
    }
    .biografia h3{
        font-size: 45px;
    }

    .backgroundFormulario h1{
        font-size: 45px;
    }
    .backgroundFormulario{
        font-size: 15px;
    }
    .titu-form{
        font-size: 30px;
    }

}

@media screen and (max-width: 475px){
    header img {
        width: 250px;
        height: 120px;
    }
}

@media screen and (max-width: 378px){
    .biografia p{
        font-size: 20px;
    }
    .biografia h3{
        font-size: 40px;
    }
}
