/*----HEADER----*/

header{
    background-color: $color-principal;
    .container-fluid{

        .navbar-brand{
            background-color: $color-principal;
        }
        img{
            width: 350px;
            height: 150px;
            }
    .navbar-nav{

        li{
            background-color: $color-principal;
            font-family: 'Cormorant Garamond', serif;;
            font-size: nth($font-size, 1);
            padding: 20px;
            margin: 0px 10px 0px 10px;
            display: inline-block;
            font-weight: bold;
            font-size: 1.5rem;
        }
    }
        }
    }
    
