/*----INDEX----*/
.hero{
    width: 100%;
    height: 100vh;
    color: white;
    background-image: url("../img/hero3.png");
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        font-size: 50px;
    }
    h3{
        background-color: rgba(0, 0, 0, 0.452);
        background-size: cover;
        text-align: center;
        font-size: 30px;
        padding: 10px;
    }
}

.imagenes-hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
    .img-main{
        transition: 0.3s ease all;
        img{
            margin-top: 20px;
            margin-bottom: 20px;
            width: 300px;
            height: 300px;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

/*----PRODUCTOS----*/
.galeria{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h2{
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: #c7c192;
        font-family: 'Cormorant Garamond', serif;
    }
    .imgRubros{
        margin-top: 50px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
            img{
                width: 300px;
                height: 300px;
            }
    }
}

/*----SERVICIOS----*/
h2{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #c7c192;
    font-family: 'Cormorant Garamond', serif;
}

.serviciosEspeciales{
    display: flex;
    justify-content: space-around;
    margin: 20px 20px 20px 20px;
    img{
        width: 300px;
        height: 300px;
    }
}

/*----NOSOTROS----*/
.biografia{
    width: 100%;
    height: 80vh;
    background-color: #b99f86;
    div{
        p{
            font-size: 40px;
            text-align: center;
            font-family: 'Cormorant Garamond', serif;
        }
        h3{
            background-size: cover;
            text-align: center;
            font-size: 80px;
            padding: 10px;
            font-family: 'Cormorant Garamond', serif;
        }
    }
}

/*----CONTACTO----*/    
.backgroundFormulario{
    background-color: #b99f86;
    border: solid rgb(214, 169, 77);
    font-family: 'Cormorant Garamond', serif;
    color: black;
    font-size: 20px;
        .titulo{
            text-align: center;
            font-size: 60px;
            div{
                .titu-form{
                    font-size: 40px;
                    text-align: left;
                }
            }
        }
}

