@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;600&display=swap');      

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes animation {
    0%   {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}