/*----MEDIAS QUERYS----*/

@media screen and (max-width: 985px){

    .imagenes-hero{
        flex-direction: column;
        align-items: center;
    }
    
    .hero p{
        font-size: 30px;
    }

    .galeria .imgRubros{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
    }
    .galeria .imgRubros img{
        width: 100%;
        height: 100%;
    }

    .serviciosEspeciales{
        flex-direction: column;
        align-items: center;
    }

    .serviciosEspeciales img{
        margin-bottom: 20px;
    }

    .biografia{
        height: 150vh;
    }

    .biografia .contenido-bio{
        flex-direction: column;
    }

    .biografia .contenido-bio p{
        font-size: nth($font-size, 2 );
    }

    .biografia .contenido-bio img{
        margin-top: 10px;
    }
}

@media screen and (max-width: 787px){

    .biografia h3{
        font-size: nth($font-size , 5 );
    }
}

@media screen and (max-width: 650px){
    .biografia h3{
        margin-top: 10px;
        font-size: nth($font-size , 4 );
    }
}


@media screen and (max-width: 540px){
    footer .pie{
        flex-direction: column;
        align-items: center;
    }

    .backgroundFormulario .titulo{
        font-size: 45px;
    }
    .backgroundFormulario{
        font-size: 15px;
    }
    .backgroundFormulario .titulo div .titu-form{
        font-size: 30px;
    }
    footer .pie .logos img {
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
    }


    .biografia h3{
        font-size: nth($font-size, 3);
    }
}

@media screen and (max-width: 499px){
    header .container-fluid img {
        width: 250px;
        height: 120px;
    }

    .biografia .contenido-bio p{
        font-size: 25px;
    }

    .biografia div h3{
        margin-top: 30px;
    }
}


@media screen and (max-width: 413px){
    .biografia div p{
        font-size: 20px;
    }
    .biografia div h3{
        font-size: 40px;
    }

    .biografia .contenido-bio img{
        width: 220px;
        height: 220px;
    }

}
